@use './variaveis.scss' as *;


.coluna{
    background-color: $background;
    border: 6px solid $background;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .titulo{
        font-size: 18px;
        color: $primary;
        text-align: center;
        font-family: $font-primary;
    }
}