@use "sass:color";
@use './_variaveis.scss';
@use './_quadro.scss';
@use './_coluna.scss';
@use './barraNavegacao.scss';
@use './cadUsuario.scss';
@use './cabecalho';
@use './cadTarefa.scss';
@use './tarefa.scss';
@use './_componenteHome.scss';

// --- TODAS as regras @use e @forward terminam aqui ---

// Importações externas como Google Fonts devem vir AQUI.
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Regras CSS/Sass
* {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
}